<template>
 <v-responsive class="text-center fill-height">
   <div class="text-left mt-5">
    <v-btn @click="goBack" density="comfortable" icon="mdi-arrow-left-bold-circle-outline" class="ml-5"></v-btn>
  </div>
   <v-container>
    <h2>Author Details Page</h2>
    <v-card
    class="mx-auto mt-10"
    width="256"
    v-if="user"
  >
        <v-list>
          <v-list-item
            :prepend-avatar="user.avatar_url"
            :title="user.display_name"
          >
          </v-list-item>
        </v-list>

        <v-divider></v-divider>

        <v-list
          :lines="false"
          density="compact"
          nav
        >
          <v-list-item
            color="primary"
            :href="user.profile_url"
            target="_blank"
          >
            <template v-slot:prepend>
              <v-icon icon="mdi-open-in-new"></v-icon>
            </template>

            <v-list-item-title>
              User profile on Giphy
            </v-list-item-title>
          </v-list-item>
        </v-list>
  </v-card>
  </v-container>
  </v-responsive>
</template>

<script setup lang="ts">
import { computed } from 'vue';
import { useRoute, useRouter } from 'vue-router';

const route = useRoute()
const router = useRouter()

const goBack = () => {
  router.back()
}

const user = computed(()=>route.query as {[key:string]: string})

</script>

<style scoped></style>