<template>
  <GifCard :currentGif="currentGif" :slides="randomGifs"/>
</template>

<script setup lang="ts">

import { ref, inject, Ref } from 'vue'
import { useRoute } from 'vue-router'
import GifCard from '@/components/GifCard.vue'

const route = useRoute()
const id = ref(route.params.id)
const currentGif = ref(null)

const randomGifs = inject<Ref>('randomGifs')
const {searchGifs} = inject('searchGifs') as {[key:string]:Ref}

if(searchGifs?.value?.value.data || randomGifs?.value.value.data){
  const allGifs = searchGifs?.value?.value.data ? randomGifs?.value.value.data.concat(searchGifs?.value?.value.data) : randomGifs?.value.value.data
  currentGif.value = allGifs.find((gif: {id:string})=>{
    return gif.id===id?.value
})
}

</script>

<style scoped></style>