<template>
  <Transition mode="out-in">
    <div v-if="search" class="fill-height">
      <SearchList />
    </div>
    <div v-else>
      <RandomList />
    </div>
  </Transition>
  
</template>

<script lang="ts" setup>
  import SearchList from '@/components/SearchList.vue'
  import RandomList from '@/components/RandomList.vue';

  import { Ref, inject } from 'vue';
  
  const search = inject<Ref>('search')

</script>
