<template>
  <v-container>
    <v-responsive class="align-center text-center fill-height">
      <h2 class="mb-5">{{ title }}</h2>
      <Transition mode="out-in">
        <v-row v-if="gifs?.data && gifs?.data.length">
          <v-col
            v-for="(gif, index) in gifs.data"
            :key="index"
            cols="6"
            md="4"
            lg="3"
          >
            <v-card>
              <v-img
                :src="gif?.images?.fixed_height.url"
                :aspect-ratio="4 / 3"
                :lazy-src="gif?.images?.fixed_height_downsampled.url"
                cover
                class="bg-grey-lighten-1 pointer"
                @click="()=>{pushWithParam(gif.id)}"
                :alt="`list-item-${gif.id}`"
              >
              
                <template v-slot:placeholder>
                  <v-row
                    class="fill-height ma-0"
                    align="center"
                    justify="center"
                  >
                    <v-progress-circular
                      indeterminate
                      color="grey-lighten-5"
                    ></v-progress-circular>
                  </v-row>
                </template>
                <v-card-title class="text-blue-grey-darken-2">{{ gif?.title }}</v-card-title>
              </v-img>
            </v-card>
          </v-col>
        </v-row>
        <v-row v-else-if="gifs?.data && !gifs?.data.length">
          <RandomPlaceholder :img="randomGif"/>
        </v-row>
        <v-row justify="center" v-else>
          <v-card variant="flat" class="py-10 text-center" min-width="360">
            
            <Preloader />

            <v-card-title class="mt-5">NOT FOUND</v-card-title>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                color="#1F7087"
                @click="router.back()"
                prepend-icon="mdi-arrow-left-bold-circle-outline"
              >
                <template v-slot:prepend>
                  <v-icon></v-icon>
                </template>
                back to search
              </v-btn>
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-row>
      </Transition>
      <template v-if="gifs?.pagination?.total_count > limit">
        <div class="text-center">
          <v-pagination
            v-model="currentPage"
            :length="pages"
            :total-visible="8"
            class="mt-5"
          >
          </v-pagination>
        </div>
      </template>
    </v-responsive>
  </v-container>
</template>

<script lang="ts" setup>
import { computed, ref, watch } from "vue"
import { useRouter } from "vue-router"
import Preloader from "./Preloader.vue"
import RandomPlaceholder from "./RandomPlaceholder.vue"
import { getData } from "@/helpers/fetchData";


const props = defineProps(["gifs", "limit", "onChangeOffset", "title", "tt"]);
const { gifs, limit, onChangeOffset, title } = props;
const currentPage = ref<number>(1);
const router = useRouter()
const randomGif = ref()

// const { error, data, loading } = getData(() => '/random?') //More simplest get random one
// randomGif.value = data

const { error, data, loading } = getData(() => `/search?${new URLSearchParams({ //get random one by "404" query
      limit: '1',
      offset: Math.floor(Math.random() * 10).toString(),
      q: '404'
    })}`)
  randomGif.value = data

const pages = computed(() => {
  return Math.ceil(gifs.value.pagination?.total_count / +limit);
});

watch(currentPage, () => {
  onChangeOffset(currentPage.value);
});

const pushWithParam = (id: string) => {
  router.push({
    name: 'gif-details',
    params: {id: id}
  })
}

</script>

<style lang="scss" scoped>
.pointer {
  cursor: pointer
}
</style>
