<template>
  <v-responsive class="text-center fill-height">
    <h2 class="mt-10">Gif Details</h2>
    <template v-if="currentGif">
      <v-container class="mt-10">
        <v-row>
          <v-col md="6">
            <div class="text-center text-h5 mb-5">{{ currentGif.title }}</div>
            <div class="text-left mb-5">
              <span class="text-medium-emphasis">author:</span>
              <v-btn v-if=currentGif.user variant="text" color="secondary" append-icon="mdi-open-in-new"
                @click.prevent="pushWithQuery(currentGif.user)" class="text-subtitle-1">
                {{ currentGif?.user?.username }}
                <template v-slot:append>
                  <v-icon class="text-caption text-medium-emphasis"></v-icon>
                </template>
              </v-btn>
            </div>
            <v-img
              :src="currentGif?.images?.original.url"
              :lazy-src="currentGif?.images?.fixed_height_downsampled.url"
              cover
              :alt="currentGif.title"
              class="bg-grey-lighten-1 pointer"
            >
              <template v-slot:placeholder>
                <v-row class="fill-height ma-0" align="center" justify="center">
                  <v-progress-circular indeterminate color="grey-lighten-5"></v-progress-circular>
                </v-row>
              </template>
            </v-img>
          </v-col>
          <v-col offset-md="2" cols="12" md="4">
            <div v-if="slides.data">
              <div class="text-center text-h5 mb-5">Random Twelve Gifs</div>
              <v-sheet border="lg opacity-12" class="pa-3">
                <v-carousel cycle height="initial" interval="2000" touch hide-delimiters>
                  <v-carousel-item
                    v-for="(slide, i) in slides.data"
                    :key="i" :src="slide.images.original.url"
                    :lazy-src="slide.images.fixed_height_downsampled.url"
                    alt="slide.title"
                    cover
                    aspect-ratio="1"
                  >
                  </v-carousel-item>
                </v-carousel>
              </v-sheet>
            </div>
          </v-col>

        </v-row>
      </v-container>
    </template>
    <template v-else>
      <v-container class="mt-10">
        <v-row justify="center">
          <v-card variant="flat" class="py-10 text-center" min-width="360">
            
            <Preloader />

            <v-card-title class="mt-5">NOT FOUND</v-card-title>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                color="#1F7087"
                @click="router.back()"
                prepend-icon="mdi-arrow-left-bold-circle-outline"
              >
                <template v-slot:prepend>
                  <v-icon></v-icon>
                </template>
                back to search
              </v-btn>
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-row>
      </v-container>
    </template>

  </v-responsive>
</template>

<script setup lang="ts">
  import { useRouter } from 'vue-router'
  import Preloader from './Preloader.vue'

  const props = defineProps(['currentGif', 'slides'])
  const { currentGif, slides } = props
  const router = useRouter()

  const pushWithQuery = (query: any) => {
    router.push({
      name: 'author',
      params: { name: currentGif.user.username },
      query: {
        ...query,
      },
    })
  }

</script>

<style scoped></style>