<template>
  <router-link :to="{name: 'home'}">
    <v-img src="@/assets/logo.svg" min-width="58" contain alt="app logo" />
  </router-link>
</template>

<script setup lang="ts">

</script>

<style scoped>

</style>