<template>
  <v-img height="300" src="@/assets/logo.svg" class="transparent-img" alt="preloader"/>
</template>

<script setup lang="ts">

</script>

<style scoped lang="scss">
.transparent-img {
  opacity: 0.3;
  animation: beat .8s infinite alternate
}
@keyframes beat {
  0%{
    transform: scale(1);
  }
  30% {
    transform: scale(0.98);
  }
  50%{
    transform: scale(1);
  }
  60%{
    transform: scale(1);
  }
}
</style>