<template>
  <v-sheet class="py-5">
    <CardList
      :gifs="randomGifs"
      :limit="limit"
      :onChangeOffset="onChangeOffset"
      title="Random"
    />
  </v-sheet>
</template>

<script setup lang="ts">
  import { inject, Ref } from 'vue';
  import CardList from './CardList.vue';

  const randomGifs = inject('randomGifs')
  const limit = inject<Ref>('limit')
  const {onChangeOffset} = inject('offset') as {[key: string]: any}

</script>

<style scoped>

</style>