<template>
  <v-row justify="center">
    <v-col cols="12" md="4">
      <v-card v-if="img?.data">
        <v-img
          :src="Array.isArray(img?.data) ? img?.data[0]?.images?.original.webp : img?.data?.images?.original.webp"
          :lazy-src="Array.isArray(img?.data) ? img?.data[0]?.images?.fixed_height_downsampled.url : img?.data?.images?.fixed_height_downsampled.url"
          :aspect-ratio="4 / 3"
          cover
          gradient="to bottom, rgba(0,0,0,.3), rgba(0,0,0,.7)"
          class="bg-grey-lighten-1 align-center"
          :alt="Array.isArray(img?.data) ? img?.data[0]?.title : img?.data?.title"
        >
          <template v-slot:placeholder>
            <v-row class="fill-height ma-0" align="center" justify="center">
              <v-progress-circular indeterminate color="grey-lighten-5"></v-progress-circular>
            </v-row>
          </template>
          <v-card-title class="text-white">NOT FOUND</v-card-title>
        </v-img>
      </v-card>
    </v-col>
  </v-row>
</template>

<script setup lang="ts">
import { ref } from 'vue';


  const props = defineProps(['img'])
  const {img} = props

</script>

<style scoped>

</style>