<template>
  <v-sheet class="py-5 fill-height">
    <CardList
      :gifs="searchGifs"
      :limit="limit"
      :onChangeOffset="onChangeOffset"
      title="Search"
    />
  </v-sheet>
</template>

<script setup lang="ts">
import { computed, inject, reactive, ref, Ref, watch} from 'vue';
import CardList from './CardList.vue';
import { getData } from '@/helpers/fetchData';

  const offset = reactive<{ value: string }>({ value: '0' })
  const limit = ref<string>('12')
  const {searchGifs, setSearchGifs} = inject('searchGifs') as {[key: string]: any}
  const search = inject<Ref>('search')

  const parameters = computed(() => {
    return new URLSearchParams({
      limit: limit.value,
      offset: offset.value,
      q: search?.value
    })
  })

  const onChangeOffset = (num: number) => {
    offset.value = (+limit.value * (num - 1)).toString()
  }

  const { error, data, loading } = getData(() => `/search?${parameters.value}`)
  setSearchGifs(data)

</script>

<style scoped>

</style>