<template>
  <div>
    <v-btn
      class="me-2 text-none"
      color="#5865f2"
      prepend-icon="mdi-share-variant-outline"
      variant="flat"
      @click="handleClick"
    >
      Share
    </v-btn>
    <Transition>
      <div v-if="error" class="text-caption text-red">{{ error }}</div>
    </Transition>
    <Transition>
      <div v-if="result" class="text-caption text-green">{{ result }}</div>
    </Transition>
  </div>
</template>

<script setup lang="ts">
import { Ref, ref } from 'vue';

const props = defineProps(['url', 'text'])
const { url, text } = props
const error = ref<Ref | null>(null)
const result = ref<Ref | null>(null)


const handleClick = async () => {
const shareData = {
  url: url || location.toString(),
  text: text,
  title: 'Zoiex test Task'
}
  try {
    await navigator.share(shareData)
    result.value = 'successful shared'
  } catch (err) {
    error.value = err
  }
}
</script>

<style scoped></style>