<template>
  <router-view />
</template>

<script lang="ts" setup>
  import { ref, provide, reactive, computed, Ref, watch } from 'vue'
  import { getData } from '@/helpers/fetchData'

  const offset = reactive<{ value: string }>({ value: '0' })
  const limit = ref<string>('12')
  const randomGifs = ref<Ref | null>(null)
  const searchGifs = ref<Ref | null>(null)
  const search = ref<string>('')

  const parameters = computed(() => {
    return new URLSearchParams({
      limit: limit.value,
      offset: offset.value,
    })
  })

  const onChangeOffset = (num: number) => {
    offset.value = (+limit.value * (num - 1)).toString()
  }

  const setSearchGifs = (gifs: any) => {
    searchGifs.value = gifs
  }

  const { error, data, loading } = getData(() => `/trending?${parameters.value}`)
  randomGifs.value = data

  provide('randomGifs', randomGifs)
  provide('searchGifs', {searchGifs, setSearchGifs})
  provide('search', search)
  provide('offset', { offset, onChangeOffset })
  provide('limit', limit)

</script>
