
<template>
  <v-app-bar flat height="80" class="pr-3">
    <template v-slot:prepend>
      <Logo/>
    </template>
    <v-app-bar-title class="d-flex align-center"> Test Task </v-app-bar-title>
    <v-spacer></v-spacer>
    <v-text-field
      label="Search"
      append-inner-icon="mdi-magnify"
      hide-details="auto"
      v-model="search"
      v-if="!display.mobile"
    >
    </v-text-field>
    <v-menu
      v-model="menu"
      :close-on-content-click="false"
      location="start"
      v-if="display.mobile"
    >
      <template v-slot:activator="{ props }">
        <v-btn
          color="indigo"
          v-bind="props"
          icon="mdi-magnify"
        >
        </v-btn>
      </template>

      <v-card min-width="300" class="mt-14 mr-n8">
        <v-list>
          <v-list-item>
            <v-text-field
              label="Search"
              hide-details="auto"
              v-model="search"
              >
              </v-text-field>
              <template v-slot:append>
              <v-btn
                variant="text"
                icon="mdi-close"
                @click="menu=false"
              ></v-btn>
              </template>
          </v-list-item >
        </v-list>
        </v-card>
        </v-menu>
  </v-app-bar>
</template>

<script lang="ts" setup>
  import Logo from '@/components/Logo.vue'
  import { ref, inject } from "vue"
  import { useDisplay } from 'vuetify'

  const display = ref(useDisplay())
  const menu = ref<boolean>(false)

  const search = inject('search')

</script>
