
<template>
  <v-app-bar flat height="80">
    <template v-slot:prepend>
      <Logo/>
    </template>
    <v-app-bar-title> Test Task </v-app-bar-title>
  </v-app-bar>
</template>

<script lang="ts" setup>
import Logo from '@/components/Logo.vue'

</script>
