<template>
  <v-app>
    <default-bar />

    <default-view />

    <v-footer class="py-10 text-center d-flex flex-column">
      <v-row justify="center" no-gutters>
        <ShareButton text="some description of site" :url="null"/>
      </v-row>
    </v-footer>
  </v-app>
</template>

<script lang="ts" setup>
  import DefaultBar from './AppBar.vue'
  import DefaultView from './View.vue'
  import ShareButton from '@/components/ShareButton.vue';
</script>
